body {
    background: #eee;
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    text-align: center;
}

main {
    padding: 60px;
}

h1 {
    margin: 0 0 40px 0;
}

.logo {
    width: 300px;
    max-width: 100%;
}

input[type="search"] {
    border: none;
    padding: 14px;
    width: 400px;
    max-width: 100%;
    font-family: inherit;
    border-radius: 24px;
    text-align: center;
    margin: 0 auto;
}
input[type="search"]:focus {
    outline: none;
}

#result {
    padding: 20px;
    margin: 30px auto 40px auto;
    border: 1px solid #ccc;
    background: #f6f6f6;
    width: 600px;
    min-height: 400px;
    max-width: calc(100% - 40px);
    border-radius: 4px;
}